/* content */
:root {
  --duration: 400ms;
  --ease: cubic-bezier(0.19, 1, 0.22, 1);
  --bounce: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

* {
  padding: 5px;
}

a {
    padding: 0;
}
a {
  text-decoration: none;
  border: none; 
}

font {
    padding: 0;
}

body {
  background: #F7EBC9; 
}

.content {
  text-align: center;
  width: 75%;
  margin:auto;
  animation: fadeIn 3s; 
  font-family: 'Playfair Display', sans-serif;
}

/* back button */
#back {
    animation: fadeIn 3s;
    font-size: 20px;
    padding: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#quote {
    text-align: justify;
    text-justify: inter-word;
    background: -webkit-linear-gradient(cornflowerblue, #814906);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.7;
}

#attribution {
    margin-top: 0;
    text-align: center;
    color: #814906;
}

#description {
  margin-top: 70px;
  color: #814906;
  line-height: 2.0;
  text-align: justify;
  text-justify: inter-word;
}

span {
  padding: 0px;
}

em {
  padding: 0px;
}

#copy-click {
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
  cursor: copy;
  color: #484848;
  border-bottom: 1px dashed #767676;
  transition: background-color calc(var(--duration) * 2) var(--ease);
}