/* content */
* {
  padding: 5px;
}

a {
    padding: 0;
}
a {
  text-decoration: none;
  border: none; 
}

font {
    padding: 0;
}

body {
  background: #F7EBC9; 
}

.content {
  text-align: justify;
/*  position: relative;*/
  animation: fadeIn 1.5s; 
  font-family: 'Playfair Display', sans-serif;
  font-size: 17px;
  line-height: 1.7;
}

#description {
  color: #814906;
}

/* back button */
.social-link {
    animation: fadeIn 1.5s;
    font-size: 20px;
    padding: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#headline {
    text-align: center;
    background: -webkit-linear-gradient(cornflowerblue, #814906);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}

#attribution {
    margin-top: 0;
    text-align: center;
    color: #814906;
}

